.title {
    margin-bottom: 50px;
    text-transform: uppercase;
}

.card {
    border: none;
    border-radius: 10px
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.badge span {
    width: auto;
    height: 25px;
    padding: 3px 3px 3px;
    border-radius: 5px;
    display: flex;

    justify-content: center;
    align-items: center
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}

.yellow {
    background-color: #fffbec;
    color: #fed85d;
}

.red {
    background-color: #ffcccc;
    color: #ff0000;
}

.green {
    background-color: #e6ffee;
    color: #008000;
}

.blue {
    background-color: #e6ecff;
    color: #0000FF;
}

.violet {
    background-color: #f5ccff;
    color: #520066;
}

.align {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}