.editing {
    background-color: #fffbec;
    color: #fed85d;
}

.complited {
    background-color: #e6ffee;
    color: #008000;
}

.wait-project {
    background-color: #e6ecff;
    color: #0000FF;

}

.on-project {
    background-color: #f5ccff;
    color: #520066;
}

